<div class="h-24 header-bar">
    <div class="flex flex-row h-full space-x-9 items-center px-12 py-3">
        <a href="upload_photo">
            <div class="px-5 py-2 rounded-lg bg-warm-grey hover:bg-greyed-lavender duration-150 capitalize">
                upload a photo 
            </div>
        </a>

        <a href="home">
            <div class="px-5 py-2 rounded-lg bg-warm-grey hover:bg-greyed-lavender duration-150 capitalize">
                home
            </div>
        </a>

        <a href="search">
            <div class="px-5 py-2 rounded-lg bg-warm-grey hover:bg-greyed-lavender duration-150 capitalize">
                search
            </div>
        </a>
    </div>
</div>
