<div class="flex flex-col items-center">
    <div class="bg-peach-beige text-6xl text-parma-violet mb-24 font-bold">
        Instagram Clone!
    </div>

    <div class="flex flex-row gap-10">
        <a href="/signup">
            <div class="px-12 py-3 bg-putty-beige hover:bg-peach-beige duration-150">
                signup
            </div>
        </a>

        <a href="/login">
            <div class="px-12 py-3 bg-putty-beige hover:bg-peach-beige duration-150">
                login
            </div>
        </a>
    </div>
</div>
