<div class="flex flex-col items-center">
    <div class="text-5xl font-bold mb-20">
        Create An Account!
    </div>

    <form class="flex flex-col gap-8" action="/signup" method="post">
        <input class="px-4 py-2 w-[300px]" type="text" placeholder="username" name="username" autocomplete="off">
        <input class="px-4 py-2 w-[300px]" type="password" placeholder="password" name="password">
        <button class="px-4 py-2 w-[300px] bg-putty-beige hover:bg-peach-beige duration-150" type="submit">Signup</button>
    </form>
</div>
