<h1 class="text-4xl">upload your photo!</h1>

<form class="flex flex-col items-center" action="upload_photo" method="post" enctype="multipart/form-data">
    <span>Upload Profile Picture:</span>  
    <input type="file" name="mypic" required/> <br>
    <input class="px-5 py-2 bg-putty-beige" type="submit" value="submit"> 
</form>

