<div class="flex flex-col items-center">
    <div class="text-5xl mb-24">
        Your Photos
    </div>

    <div class="grid grid-cols-5 gap-2">
        <% result.forEach(image => { %>
            <div class="h-[200px] w-[200px]">
                <img class="w-full h-full" src="/photos/<%= image.image_url %>">
            </div>
        <% }); %>
    </div>
</div>